@{
    ViewData["Title"] = "Add User";
}
@if (TempData["Alert"] != null)
{
    <div class="alert @TempData["AlertCss"] mb-5" role="alert">
        @TempData["Alert"]
    </div>
}
﻿<h2><a href="/">Öğrenci</a> Ekleme Formu</h2>
<div class="form-container">
    <form method="post" action="/api">
        <p><input required type="text" name="name" placeholder="Ad" /></p>
        <p><input required type="text" name="surname" placeholder="Soyad" /></p>
        <p><input required type="number" name="age" placeholder="Yaş" /></p>
        <p><input required type="email" name="email" placeholder="E-Posta" /></p>
        <p><input required type="text" name="phoneNumber" placeholder="Telefon Numarası" /></p>
        <button>Ekle</button>
    </form>
</div>